body{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0; 
}
.header{
	width: 100%;
	height: 943px;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: 3;
    position: relative;
	background-image: url(../img/background-img12.png);
}
.logo{
	padding-left: 120px;
	padding-top: 50px;
}
.list_nav{
	padding-left: 920px;
}
.list_nav_item{
	text-transform: uppercase;
	font-size: 19px;
	display: inline-block;
	color: white;
	top: -33px;
	position: relative;
	font-weight: bold;
	padding-left: 60px;
	font-family: Hind, sans-serif;
}
a{
	text-decoration: none;
}
.list_nav_item:hover:before{
	content: "";
	width: 16px;
	height: 5px;
	left: 37px;
	top: 7px;
	background: #00beff;
	position: absolute;
}
.header hr{
	border: none; 
    background-color: lightgrey; 
    color: grey; 
    width: 100%;
    position: relative;
    top: 20px;
    opacity: 0.6;
    height: 1px;
}
.header h1{
	font-size: 75px;
	color: white;
	line-height: 30px;
	padding-top: 275px;
	text-align: center;
	font-family: Hind, sans-serif;
}
.header h3{
	font-size: 25px;
	color: white;
	font-weight: 300;
	opacity: 0.8;
	position: relative;
	top: 20px;
	text-align: center;
	font-family: Hind, sans-serif;
}
.button{
	background: white;
	width: 250px;
	height: 65px;
	position: relative;
	top: 65px;
	margin: 0 auto;
}
.button_img{
	z-index: 1;
	position: relative;
	top: 23px;
	opacity: 0.7;
	left: 30px;
}
.button p{
	text-transform: uppercase;
	font-family: Hind, sans-serif;
	font-weight: bold;
	position: relative;
	font-size: 16px;
	color: grey;
	left: 63px;
	top: -15px;
}
.button:hover{
	background: black;
	transition: 0.6s;
}
.button_img_white{
	position: relative;
	top: 23px;
	left: 5px;
}

.button:not(:hover){
  transition: 0.6s;
}
.main{
	width: 100%;
	height: 2330px;
	position: relative;
	background: white;
	padding-top: 30px;
}
.main_title{
	line-height: 35px;
	font-size: 40px;
	padding-top: 30px;
	opacity: 0.7;
	text-align: center;
	font-family: Hind, sans-serif;
}
.main_subtitle{
	font-size: 21px;
	text-align: center;
	color: grey;
	font-family: Hind, sans-serif;
}
.main_content{
	margin-left: 130px;
	padding-top: 55px;
	padding-bottom: 40px;
}
.main_content_item{
	display: inline-block;
}
.main_content_item:nth-child(2){
	padding-left: 35px;
}
.main_content_item:nth-child(3){
	padding-left: 35px;
}
.content_title{
	font-family: Hind, sans-serif;
	font-size: 27px;
	opacity: 0.8;
	color: black;
}
.content_text{
	font-size: 17px;
	opacity: 0.9;
	width: 370px;
	color: gray;
	font-family: Hind, sans-serif;
}
.content_topic{
	text-transform: uppercase;
	font-family: Hind, sans-serif;
	font-size: 17px;
	color: grey;
	float: right;
	margin-top: -49px;
	opacity: 0.4;
}
#content_topic_management{
	margin-right: 207px;
}
#content_topic_developmeny{
	margin-right: 198px;
}
#content_topic_design{
	margin-right: 259px;
}
#details{
	text-transform: uppercase;
	color: grey;
	display: block;
	padding-top: 13px;
	font-size: 16px;
	font-family: Hind, sans-serif;
	font-weight: bold;
}
.details_workspace:after{
	content: "";
	width: 15px;
	height: 4px;
	left: 237px;
	top: 831.2px;
	background: #00beff;
	position: absolute;
}
.details_minimalism:after{
	content: "";
	width: 15px;
	height: 4px;
	left: 796px;
	top: 831.2px;
	background: #00beff;
	position: absolute;
}
.details_cleant_style:after{
	content: "";
	width: 15px;
	height: 4px;
	left: 1355px;
	top: 831.2px;
	background: #00beff;
	position: absolute;
}
.content_title:hover{
	color: #5B585A;
}
#details:hover{
	color: #5B585A;
}
.services_img{
	display: inline-block;
	padding-top: 50px;
}
.services_item{
	width: 533px;
	height: 360px;
	background: white;
	margin-top: 120px;
	border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
	float: left;
}
#services_item_blue{
	background: #00C0D3;
}
#services_item_blue p{
	color: white;
}
#services_item_blue h3{
	color: white;
}
#services_item1{
	margin-top: 0;
	margin-bottom: 120px;
}
.services_item h3{
	color: black;
	font-family: Hind, sans-serif;
	padding-top: 50px;
	padding-left: 50px;
	font-size: 25px;
	transition: 0.5s;
}
.services_item p{
	color: black;
	transition: 0.5s;
	font-size: 17px;
	opacity: 0.9;
	padding-left: 50px;
	color: gray;
	line-height:25px;
	font-family: Hind, sans-serif;
}
.services_item_img{
	position: relative;
	left: 45px;
	top: 45px;
	transition: 0.5s;
}
.services_item:hover .services_item_img{
	opacity: 0;
}
.services_item:hover h3{
	transform: translateY(-50px);
}
.services_item:hover p{
	transform: translateY(-50px);
}
.results_img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: url(../img/background_phone.jpg);
	background-repeat: no-repeat;
	clear: both;
	z-index: -3;
}
.results h2{
	color: white;
	text-align: center;
	font-size: 55px;
	margin-top: 150px;
	font-family: Hind, sans-serif;
}
.results p{
	color: white;
	text-align: center;
	font-size: 23px;
	padding-bottom: 260px;
	opacity: 0.8;
	font-family: Hind, sans-serif;
}
.button_top{
 	right: 20px;
 	z-index: 2;
 	width: 60px;
  	height: 60px;
  	background: #D5D4D0;
  	text-decoration: none;
  	position: fixed;
  	bottom: 20px;
  	text-align: center;
  	line-height: 58px;
  	border-radius: 4px;
  	text-align: center;
  	color:white;
  	font-size: 18px;
  	transition: 0.8s;
  	font-family: Hind, sans-serif;
}
.button_top:hover{
	background: #282923;
}
html {
  scroll-behavior: smooth;
}
.gallery{
	width: 100%;
	height: 1100px;
	background: white;
}
.gallery_item{
	display: inline-block;
	transition: 0.5s;
	margin-left: 10px;
	margin-top: 10px;
}
.gallery_item:nth-child(1){
	margin-left: 130px;
	margin-top: 80px;
}
.gallery_item:nth-child(3){
	margin-left: 130px;
}
.gallery_item:hover{
	box-shadow: 3px 3px #00C0D3, 4px 4px #00C0D3, 5px 5px #00C0D3, 6px 6px #00C0D3, 7px 7px #00C0D3, 8px 8px #00C0D3, 9px 9px #00C0D3;
 	transform: translateX(-5px);
  	transform: translateX(-5px);
}
.products{
	width: 100%;
	height: 1000px;
	position: relative;
	background: #f7f6f2;
}
.products_item{
	float: left;
	margin-top: 80px;
	width: 500px;
	height: 790px;
	background: white;
}
.products_item:nth-child(1){
	margin-left: 185px;
}
.products_item:nth-child(2){
	height: 905px;
	margin-left: 3px;
	margin-top: 20px;
}
.products_item:nth-child(3){
	margin-left: 3px;
}
.products_item_img{
	opacity: 0.6;
	padding-top: 85px;
	padding-left: 70px;
}
.products_item_img1{
	padding-top: 147px;
	padding-left: 70px;
	opacity: 0.6;
}
.products_item h3{
	padding-left: 70px;
	padding-top: 20px;
	font-size: 30px;
	font-family: Hind, sans-serif;
}
.products_item span{
	opacity: 0.4;
	font-size: 22px;
}
.products_item p {
	opacity: 0.5;
	padding-left: 70px;
	font-size: 20px;
	font-family: Hind, sans-serif;
}
.products_item ol{
	font-size: 19px;
	font-family: Hind, sans-serif;
	line-height: 45px;
	padding-top: 30px;
	padding-left: 60px;
}
li{
	list-style-type: none;
}
.products_advantages{
	width: 250px;
	height: 250px;
	position: relative;
}
.products_advantages_1:after{
	content: "";
	width: 17px;
	height: 4px;
	left: 70px;
	top: 50px;
	background: #00beff;
	position: absolute;
}
.products_advantages_2:after{
	content: "";
	width: 17px;
	height: 4px;
	left: 70px;
	top: 95px;
	background: #00beff;
	position: absolute;
}
.products_advantages_3:after{
	content: "";
	width: 17px;
	height: 4px;
	left: 70px;
	top: 140px;
	background: #00beff;
	position: absolute;
}
.products_button {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 48px;
  color: #00beff;
  text-align: center;
  position: relative;
  border: 2px solid #00beff;
  margin-left: 70px;
  font-family: Hind, sans-serif;
  transition: .4s;
}
.products_button:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  position: absolute;
  transition: .4s;
}
.products_button:hover:after {
  border-color: #00beff;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
.reviews{
	width: 100%;
	height: 900px;
	padding-top: 20px;
	background: white;
}
.reviews h2{
	font-family: Hind, sans-serif;
	font-size: 43px;
	padding-left: 130px;
	padding-top: 80px;
}
.reviews p{
	opacity: 0.7;
	padding-left: 170px;
	padding-top: 10px;
	font-size: 22px;
	width: 1200px;
	font-family: Hind, sans-serif;
}
.customer_review{
	opacity: 0.8;
	padding-left: 950px;
	padding-top: 10px;
	font-size: 22px;
	font-family: Hind, sans-serif;
}
.customer_review span{
	font-weight: bold;
}
.map{
	width: 100%;
	padding-top: 50px;
}
.reviews_line_1{
	border-left: 8px solid #BFE2FF;
    height: 100px;
    margin-top: -10px;
    float: left;
    margin-left: 140px;
}
.reviews_line_2{
	border-left: 8px solid #BFE2FF;
    height: 90px;
    margin-top: 130px;
    position: absolute;
    left: 140px;
}
.reviews_line_1:before{
	content: '”';
	background: white;
	position: relative;
	top: 89px;
	left: -17px;
	font-size: 83px;
	font-family: Hind, sans-serif;
	color: #00beff;
}
.footer{
	width: 100%;
	height: 500px;
	background: #F7F6F2;
}
.footer_list_nav{
	padding-top: 130px;
	padding-left: 130px;
}
.footer_list_nav_item{
	text-transform: uppercase;
	font-size: 19px;
	display: inline-block;
	color: black;
	top: -33px;
	position: relative;
	font-weight: bold;
	margin-left: 75px;
	opacity: 0.6;
	font-family: Hind, sans-serif;
}
.footer_line_1{
	border: none; 
    background-color: black; 
    color: gray; 
    width: 1400px;
    margin: 0;
    position: relative;
    left: 203px;
    top: -10px;
    opacity: 0.5;
    height: 2px;
}
.footer_line_2{
	border: none; 
    background-color: black; 
    color: gray; 
    width: 1400px;
    margin: 0;
    position: relative;
    left: 203px;
    top: 100px;
    opacity: 0.5;
    height: 2px;
}
.facebook_icon{
	border: 2px solid #838280;
	border-radius: 180px;
	box-shadow: 3px 3px #00C0D3, 4px 4px #00C0D3, 5px 5px #00C0D3, 6px 6px #00C0D3, 7px 7px #00C0D3, 8px 8px #00C0D3, 9px 9px #00C0D3;
	position: relative;
	left: 205px;
	opacity: 0.6;
	z-index: 4;
	top: 80px;
}
.facebook_icon_1{
	position: relative;
	left: 149px;
	opacity: 0;
	top: 78px;
	z-index: 1;
}
.twitter_icon{
	border: 2px solid #838280;
	border-radius: 180px;
	box-shadow: 3px 3px #00C0D3, 4px 4px #00C0D3, 5px 5px #00C0D3, 6px 6px #00C0D3, 7px 7px #00C0D3, 8px 8px #00C0D3, 9px 9px #00C0D3;
	position: relative;
	opacity: 0.6;
	left: 224px;
	top: 80px;
	z-index: 4;
}
.twitter_color_icon_1{
	position: relative;
	left: 168px;
	opacity: 0;
	top: 78px;
	z-index: 1;
}
.telegram_icon{
	border: 2px solid #838280;
	border-radius: 180px;
	box-shadow: 3px 3px #00C0D3, 4px 4px #00C0D3, 5px 5px #00C0D3, 6px 6px #00C0D3, 7px 7px #00C0D3, 8px 8px #00C0D3, 9px 9px #00C0D3;
	position: relative;
	left: 245px;
	opacity: 0.6;
	top: 80px;
	z-index: 4;
}
.telegram_color_icon_1{
	position: relative;
	left: 189px;
	opacity: 0;
	top: 78px;
	z-index: 1;
}
.signup{
	position: relative;
	width: 160px;
	height: 40px;
	font-family: Hind, sans-serif;
	line-height: 38px;
	text-align: center;
	color: black;
	left: 1117px;
	top: 30px;
	opacity: 0.6;
	font-size: 20px;
	border: 2px solid black;
}
.signup:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  position: absolute;
  transition: .4s;
}
.signup:hover:after {
  border-color: black;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
.footer_text{
	margin-top: 65px;
	margin-left: 203px;
	font-family: Hind, sans-serif;
	font-size: 17px;
	opacity: 0.7;
}
.signup:not(:hover){
  transition: 0.5s;
}
.facebook_icon:hover{
	opacity: 0;
	transition: 0.5s;
	box-shadow: 3px 3px #00C0D3, 4px 4px #00C0D3, 5px 5px #00C0D3, 6px 6px #00C0D3, 7px 7px #00C0D3, 8px 8px #00C0D3, 9px 9px #00C0D3;
}
.facebook_link:hover .facebook_icon_1{
	opacity: 1;
	transition: 0.5s;
} 
.facebook_link:not(:hover) .facebook_icon_1{
	transition: 0.5s;
} 
.facebook_icon:not(:hover){
	transition: 0.5s;
}
.twitter_icon:hover{
	opacity: 0;
	transition: 0.5s;
}
.twitter_link:hover .twitter_color_icon_1{
	opacity: 1;
	transition: 0.5s;
} 
.twitter_link:not(:hover) .twitter_color_icon_1{
	transition: 0.5s;
} 
.twitter_icon:not(:hover){
	transition: 0.5s;
}

.telegram_icon:hover{
	opacity: 0;
	transition: 0.5s;
}
.telegram_link:hover .telegram_color_icon_1{
	opacity: 1;
	transition: 0.5s;
} 
.telegram_link:not(:hover) .telegram_color_icon_1{
	transition: 0.5s;
} 
.telegram_icon:not(:hover){
	transition: 0.5s;
}
.footer_list_nav_item:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 3px; 
	background-color: #00C0D3; 
	content: "";
	transition: width 0.3s ease-out;
}
.footer_list_nav_item:hover:after,
.footer_list_nav_item:focus:after {
	width: 100%; 
}