body{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0; 
}
.header{
	width: 100%;
	height: 943px;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: 3;
    position: relative;
	background-image: url(../img/background-img12.png);
}
.logo{
	padding-left: 120px;
	padding-top: 50px;
}
.list_nav{
	padding-left: 920px;
}
.list_nav_item{
	text-transform: uppercase;
	font-size: 19px;
	display: inline-block;
	color: white;
	top: -33px;
	position: relative;
	font-weight: bold;
	padding-left: 60px;
	font-family: Hind, sans-serif;
}
a{
	text-decoration: none;
}
.list_nav_item:hover:before{
	content: "";
	width: 16px;
	height: 5px;
	left: 37px;
	top: 7px;
	background: #00beff;
	position: absolute;
}
hr{
	border: none; 
    background-color: lightgrey; 
    color: grey; 
    width: 100%;
    position: relative;
    top: 20px;
    opacity: 0.6;
    height: 1px;
}
.header h1{
	font-size: 75px;
	color: white;
	line-height: 30px;
	padding-top: 275px;
	text-align: center;
	font-family: Hind, sans-serif;
}
.header h3{
	font-size: 25px;
	color: white;
	font-weight: 300;
	opacity: 0.8;
	position: relative;
	top: 20px;
	text-align: center;
	font-family: Hind, sans-serif;
}
.button{
	background: white;
	width: 250px;
	height: 65px;
	position: relative;
	top: 65px;
	margin: 0 auto;
}
.button_img{
	z-index: 1;
	position: relative;
	top: 23px;
	opacity: 0.7;
	left: 30px;
}
.button p{
	text-transform: uppercase;
	font-family: Hind, sans-serif;
	font-weight: bold;
	position: relative;
	font-size: 16px;
	color: grey;
	left: 63px;
	top: -15px;
}
.button:hover{
	background: black;
	transition: 0.6s;
}
.button_img_white{
	position: relative;
	top: 23px;
	left: 5px;
}

.button:not(:hover){
  transition: 0.6s;
}
.main{
	width: 100%;
	height: 2330px;
	position: relative;
	background: white;
	padding-top: 30px;
}
.main_title{
	line-height: 35px;
	font-size: 40px;
	padding-top: 30px;
	opacity: 0.7;
	text-align: center;
	font-family: Hind, sans-serif;
}
.main_subtitle{
	font-size: 21px;
	text-align: center;
	color: grey;
	font-family: Hind, sans-serif;
}
.main_content{
	margin-left: 130px;
	padding-top: 55px;
	padding-bottom: 40px;
}
.main_content_item{
	display: inline-block;
}
.main_content_item:nth-child(2){
	padding-left: 35px;
}
.main_content_item:nth-child(3){
	padding-left: 35px;
}
.content_title{
	font-family: Hind, sans-serif;
	font-size: 27px;
	opacity: 0.8;
	color: black;
}
.content_text{
	font-size: 17px;
	opacity: 0.9;
	width: 370px;
	color: gray;
	font-family: Hind, sans-serif;
}
.content_topic{
	text-transform: uppercase;
	font-family: Hind, sans-serif;
	font-size: 17px;
	color: grey;
	float: right;
	margin-top: -49px;
	opacity: 0.4;
}
#content_topic_management{
	margin-right: 207px;
}
#content_topic_developmeny{
	margin-right: 198px;
}
#content_topic_design{
	margin-right: 259px;
}
#details{
	text-transform: uppercase;
	color: grey;
	display: block;
	padding-top: 13px;
	font-size: 16px;
	font-family: Hind, sans-serif;
	font-weight: bold;
}
.details_workspace:after{
	content: "";
	width: 15px;
	height: 4px;
	left: 237px;
	top: 831.2px;
	background: #00beff;
	position: absolute;
}
.details_minimalism:after{
	content: "";
	width: 15px;
	height: 4px;
	left: 796px;
	top: 831.2px;
	background: #00beff;
	position: absolute;
}
.details_cleant_style:after{
	content: "";
	width: 15px;
	height: 4px;
	left: 1355px;
	top: 831.2px;
	background: #00beff;
	position: absolute;
}
.content_title:hover{
	color: #5B585A;
}
#details:hover{
	color: #5B585A;
}
.services_img{
	display: inline-block;
	padding-top: 50px;
}
.services_item{
	width: 533px;
	height: 360px;
	background: white;
	margin-top: 120px;
	border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
	float: left;
}
#services_item_blue{
	background: #00C0D3;
}
#services_item_blue p{
	color: white;
}
#services_item_blue h3{
	color: white;
}
#services_item1{
	margin-top: 0;
	margin-bottom: 120px;
}
.services_item h3{
	color: black;
	font-family: Hind, sans-serif;
	padding-top: 50px;
	padding-left: 50px;
	font-size: 25px;
	transition: 0.5s;
}
.services_item p{
	color: black;
	transition: 0.5s;
	font-size: 17px;
	opacity: 0.9;
	padding-left: 50px;
	color: gray;
	line-height:25px;
	font-family: Hind, sans-serif;
}
.services_item_img{
	position: relative;
	left: 45px;
	top: 45px;
	transition: 0.5s;
}
.services_item:hover .services_item_img{
	opacity: 0;
}
.services_item:hover h3{
	transform: translateY(-50px);
}
.services_item:hover p{
	transform: translateY(-50px);
}
.results_img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: url(../img/background_phone.jpg);
	background-repeat: no-repeat;
	clear: both;
	z-index: -3;
}
.results h2{
	color: white;
	text-align: center;
	font-size: 55px;
	margin-top: 150px;
	font-family: Hind, sans-serif;
}
.results p{
	color: white;
	text-align: center;
	font-size: 23px;
	padding-bottom: 260px;
	opacity: 0.8;
	font-family: Hind, sans-serif;
}
.button_top{
 	right: 20px;
 	z-index: 2;
 	width: 60px;
  	height: 60px;
  	background: grey;
  	text-decoration: none;
  	position: fixed;
  	bottom: 20px;
  	text-align: center;
  	line-height: 58px;
  	border-radius: 4px;
  	text-align: center;
  	color:white;
  	font-size: 18px;
  	transition: 0.5s;
  	font-family: Hind, sans-serif;
}
.button_top:hover{
	background: #282923;
}
html {
  scroll-behavior: smooth;
}
.gallery{
	width: 100%;
	height: 1100px;
	background: white;
}
.gallery_item{
	display: inline-block;
	transition: 0.5s;
	margin-left: 10px;
	margin-top: 10px;
}
.gallery_item:nth-child(1){
	margin-left: 130px;
	margin-top: 80px;
}
.gallery_item:nth-child(3){
	margin-left: 130px;
}
.gallery_item:hover{
	box-shadow: 3px 3px #00C0D3, 4px 4px #00C0D3, 5px 5px #00C0D3, 6px 6px #00C0D3, 7px 7px #00C0D3, 8px 8px #00C0D3, 9px 9px #00C0D3;
 	transform: translateX(-5px);
  	transform: translateX(-5px);
}