.container{
	width: 100%;
	height: 943px;
	position: fixed;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
	background-image: url(../img/background-img12.png);
}
.header_top_items{
	width: 100%;
	height: 115px;
	border: 3px solid red;
}
.logo{
	padding-left: 120px;
	padding-top: 50px;
}
.list_nav{
	padding-left: 920px;
}
.list_nav_item{
	text-transform: uppercase;
	font-size: 19px;
	display: inline-block;
	color: white;
	top: -33px;
	position: relative;
	font-weight: bold;
	padding-left: 60px;
	font-family: Hind, sans-serif;
}
a{
	text-decoration: none;
}
.list_nav_item:hover:before{
	content: "";
	width: 16px;
	height: 5px;
	left: 37px;
	top: 7px;
	background: #00beff;
	position: absolute;
	transition: all 2s ease;
}


